.project-div {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: auto;
   margin: 2em auto;
} 

.project-header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-header p {
    line-height: 1.8px;
    font-weight: 470;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project-flex {
    display: grid;
    grid-template-columns: 24% 24% 24%;
    grid-gap: 2em;
    justify-content: center;
}

.stack-span {
    background-color: #323232;
    color: #DDD0C8;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 8px;
}

.project1 {
    width: auto;
    height: auto;
    margin: 2em 3em 0 0;
    padding: 1rem;
    border-radius: 5%;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    box-shadow: 0 0 3px #323232;
}

.project2-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/project1.png);
    background-size: cover;
    background-position: center;
}

.project1-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/zuri-2.png);
    background-size: cover;
    background-position: center;
}


.project3-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/project3.png);
    background-size: cover;
    background-position: center;
}

.project4-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/accordion-card.jpg);
    background-size: cover;
    background-position: center;
}

.project5-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/project2.png);
    background-size: cover;
    background-position: center;
}

.project6-preview {
    width: 15em;
    height: 10em;
    background-image: url(../images/product-preview.jpg);
    background-size: cover;
    background-position: center;
}

.project1-note {
    text-align: left;
}

.project1-note h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 0%;
}

.project1-note p {
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project1-note p.icons {
    text-align: left;
}

.icon {
    margin: 0 0.8em 0 0;
    color: #323232;
    border-radius: 3px;
    border: 1px solid #323232;
    padding: 4px 5px;
    background-color: #DDD0C8;
    font-size: medium;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .project-flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
     }

     .project1 {
        text-align: center;
        width: 15em;
        justify-content: center;
        align-self: center;
     }

}

@media screen and (max-width: 500px) {
     .project-flex {
        margin: 0 0 0 2em;
     }
}