.skills-intro {
    margin: 5em 0 0 0;
}

.skills-header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skills-header p {
    line-height: 1.8px;
    font-weight: 470;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.animate__animated.animate__zoomIn {
    animation-delay: 0.3s;
    animation-duration: 1s;
  }

.skills-div {
    margin: 3em 0 5em 18%;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-row-gap: 2em;
    grid-column-gap: 3em;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: auto;
}

.skills-div div {
    text-align: left;
    padding-left: 0;
}

.fa-microchip {
    margin: 0 0 0 0;
    color: hsl(271, 97%, 53%);
    padding: 4px 5px;
    background-color: whitesmoke;
    font-size: 24px;
}

.fa-plug {
    margin: 0 0.8em 0 0;
    color: hsl(271, 97%, 53%);
    border-radius: 3px;
    border: 1px solid hsl(271, 97%, 53%);
    padding: 4px 5px;
    background-color: whitesmoke;
}

.fa-html5 {
    margin: 0 1em 0 0;
    color: hsl(271, 97%, 53%);
    border-radius: 3px;
    border: 1px solid hsl(271, 97%, 53%);
    padding: 4px 5px;
    background-color: whitesmoke;
}




.fa-css3 {
    margin: 0 1em 0 0;
    color: hsl(271, 97%, 53%);
    border-radius: 3px;
    border: 1px solid hsl(271, 97%, 53%);
    padding: 4px 5px;
    background-color: whitesmoke;
}



.skills-div span {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 960px) {
   .skills-div {
    margin-left: 15%;
   }
}

@media screen and (max-width: 710px) {
    .skills-div {
        margin-left: 7%;   
    }

}



@media screen and (max-width: 550px) {
    .skills-div {
        margin-left: 3%;
    }
}

@media screen and (max-width: 500px) {
    .skills-div {
        margin-left: 2%;
        grid-template-columns: 40% 40%;
        grid-column-gap: 1.5rem;
    }
}

@media screen and (max-width: 340px) {
    .skills-div {
        margin-left: 0.5%;
        grid-template-columns: 45% 45%;
        grid-column-gap: 1rem;
    }
}




