.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3em;
    position: relative;
    min-height: fit-content;
    width: auto;
  }

  .profile-name {
    padding: 0 0 0 1em;
  }

  .profile-name span {
    font-family: 'Eczar', serif;
    font-size: 24px;
    font-weight: 700;
    color: #323232;
  }

  .profile-name span.span {
    color: #323232;
  }

  .header div.toggle-icon {
    display: none;
  }

@media screen and (max-width: 700px){
     .nav-div .links {
      display: none;
     }


     .header div.toggle-icon {
      display: block;
      position: absolute;
      color: #323232;
      top: 1.92em;
      right: 3em;
     }

     .header {
      position: relative;
      transition: 0.5s height ease-in-out;
     }

     .header.expanded {
      height: 100vh;
     }

     .header.header.expanded .links {
        position: absolute;
        top: 120px;
        left: -2.5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
     }

     .header.header.expanded .links li {
      margin: 15px 0;
      font-size: 24px;
     }
}

@media  screen and (max-width: 480px) {
  .header div.toggle-icon {
    display: block;
    position: absolute;
    color: #323232;
    top: 1.895em;
    right: 2rem;
    cursor: pointer;
   }

   .profile-name {
    padding: 0 0 0 0rem;
   }
}

  .nav-bar ul {
    display: inline;
    
  }

  .nav-bar ul li {
    display: inline-block;
    padding: 0.15rem 0 0 0;
  }

  .nav-bar ul li a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    color: #323232;
  }

.nav-bar ul li a.hire-btn {
     padding: 8px 20px;
     background-color: #323232;
     border-radius: 15px;
     margin-left: 0.8em;
     color: white;
     font-size: 15px;
     font-weight: lighter;
}



.nav-bar ul li a.hire-btn:hover { 
  background-color: #DDD0C8;
  color: #323232;
  border: 1px solid #323232;
  font-weight: normal;
}



