.header {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    position: relative;
    min-height: fit-content;
    width: auto;
  }

  .profile-name {
    padding: 0 0 0 1em;
  }

  .profile-name span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: 700;
    
  }

  .nav-div {
    margin: 0 0 0 0%;
  }

  .fa-bars {
    display: none;
  }

@media screen and (max-width: 678px){
     .nav-div {
      display: none;
     }

     .fa-bars {
      display: block;
     }
}

  .nav-bar ul {
    display: inline;
    
  }

  .nav-bar ul li {
    display: inline-block;
    padding: 0.15rem 0 0 0;
  }

  .nav-bar ul li a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 400;
    
  }

.nav-bar ul li a.hire-btn {
     padding: 5px 15px;
     background-color: whitesmoke;
     border-radius: 10px;
     border: 1px solid rgb(139, 31, 247);
     margin-left: auto;
}



.nav-bar ul li a.hire-btn:hover { 
  background-color: rgb(139, 31, 247);
  color: white;
}



